@import "../../style/constants";

.menu {
  background: $color-2nd;
  height: 100%;
  width: $menu-width-desktop;
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 60px;
  box-sizing: border-box;
  z-index: 999;

  .smartphone-menu-trigger {
    display: none;
  }

  .avatar {
    background: rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    .email-container {
      max-width: 180px;
      overflow: hidden;
      font-size: 14px;
      color: #75D153;
    }
    p {
      a {
        font-size: 14px;
        color: #75D153;
      }
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      border: 4px solid $border;
      margin-bottom: 10px;
      box-shadow: 0 0 0 4px rgba(104, 255, 118, 0.2);
    }

    h2 {
      font-weight: normal;
      margin-bottom: 0;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    //overflow: auto;
    width: 100%;
    //height: calc(100vh - 320px);
    flex: 1;
    overflow-y: auto;

    .menu-header {
      user-select: none;
      width: 100%;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.1);
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;

      &:after{
        content: '+';
        float: right;
      }
      &.expanded {
        &:after{
          content: '-';
        }
      }
    }

    li {
      transition: all 0.15s linear;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;

      svg {
        margin-right: 5px;
      }

      .sets-list {
        transition: max-height ease 0.5s;
        width: 100%;
        //transition: height 1s ease
        max-height: 450px;

        @media screen and (max-height: 1000px) {

          max-height: 450px;
        }
        @media screen and (max-height: 900px) {

          max-height: 150px;
        }
        overflow: auto;
        li {
          padding: 0.5em 1em 0.5em 2em;
          font-weight: normal;
          flex-direction: row;
          background-repeat: no-repeat;
          background-position: left 15px center;
        }
      }

      &.active {

        .sets-list {
          transition: max-height ease 0.3s;
          overflow: auto;

          li {
            &:hover {
              background-color: rgba(0, 0, 0, 0.1);
              color: $white;

              svg {
                fill: white;
              }
            }

            &.selected {
              background-color: rgba(104, 255, 118, 0.2);

              &:hover {
                background-color: rgba(104, 255, 118, 0.3);
                color: $white;
              }
            }
          }
        }
      }

      i {
        margin-right: 5px;
      }

      &:focus {
        outline: none;
      }

    }
  }
}


@media screen and (max-width: 1000px) and (min-width: 500px) {
  body {
    padding-left: $menu-width-tablet;
  }
  .menu {
    width: $menu-width-tablet;

    .avatar {
      padding: 0.5em;
      //position: relative;
    }

    ul {
      //padding-bottom: 20px;
      li {

        .sets-list {
          li {
            padding: 10px 0 10px 10px;

            svg {
              width: 1em;
              height: 1em;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  body {
    padding-left: 0;
  }

  .menu .avatar {
    padding: 10px ;
  }
  .menu {
    width: $menu-width-smartphone;
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
    transform: translate3d(-$menu-width-smartphone, 0, 0);
    transition: all 0.3s ease-in-out;
    padding-top: 100px;

    .smartphone-menu-trigger {
      display: flex;
      width: auto;
      min-width: 45px;
      height: auto;
      padding: 10px 8px;
      position: absolute;
      left: 100%;
      top: 107px;
      background: linear-gradient(135deg, #27ae60 0%, #2ecc71 100%);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2px;
      cursor: pointer;
      border-radius: 0 8px 8px 0;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
      animation: pulseLeft 2s ease-in-out 3;
      transition: all 0.3s ease;

      &:hover {
        background: linear-gradient(135deg, #2ecc71 0%, #27ae60 100%);
        box-shadow: 3px 3px 15px rgba(39, 174, 96, 0.5);
      }

      .trigger-icon {
        font-size: 18px;
        color: #fff;
        line-height: 1;
      }

      .trigger-label {
        font-size: 10px;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        white-space: nowrap;
      }

      .trigger-arrow {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.8);
        line-height: 1;
        animation: bounceRight 1.5s ease-in-out infinite;
      }
    }

    @keyframes pulseLeft {
      0%, 100% {
        transform: translateX(0);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
      }
      50% {
        transform: translateX(5px);
        box-shadow: 4px 4px 20px rgba(39, 174, 96, 0.6);
      }
    }

    @keyframes bounceRight {
      0%, 100% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(3px);
      }
    }

    ul {
      //padding-bottom: 30px;
      li {
        .sets-list {

          li {
            padding: 10px 0 10px 10px;

            svg {
              width: 1.5em;
              height: 1em;
            }
          }
        }
      }
    }

    &:focus {
      transform: translate3d(0, 0, 0);
      box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);

      .smartphone-menu-trigger {
        pointer-events: none;
      }
    }
  }
}