@import "../../style/constants";


.users-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;

  .user-info {
    padding: 2em 0.5em;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    width: 50%;

    .icon-delete {
      left: 5px;
      top: 17px;
    }

    div {
      display: flex;
      align-items: center;

      &:hover {
        text-decoration: underline
      }
    }

    img {
      width: 50px;
      min-height: 50px;
      border-radius: 50%;
      overflow: hidden;
      border: 4px solid $border;
      box-shadow: 0 0 0 4px rgba(104, 255, 118, 0.4);
      margin-right: 10px;
    }
    span {
      text-align: left;
    }
  }
}