
.set-wrapper {
  width: 300px;

  margin-bottom: 30px;

  .set-title {
    cursor: pointer;
    width: 100%;
    padding: 2px;
    box-sizing: border-box;
    background-color: beige;
    font-weight: bold;
  }

  .set-numbers {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    .set-number {
      padding: 5px;
      text-align: center;
      box-sizing: border-box;
      font-weight: bold;
      width: 10%;
      border: 1px solid black;
      user-select: none;
      //border-radius: 100%;
      &.missing {
        background-color: red;
      }

      &.default {
        background-color: white;
      }

      &.double {
        background-color: greenyellow;
      }

      &.damaged {
        background-color: dimgray;
      }
    }
  }
}

.pointer {
  cursor: pointer;
  .set-number {
    &:hover {
      border: 1px solid #999;
    }
  }
}