@import "../../style/constants";


.set-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 50px;
  right: 20px;
  width: 250px;
  div {
    border: 1px solid $border;
    display: flex;
    &:before {
      width: 40px;
      float: left;
    }
    &:first-child {
      &:before {
        content: '';
        background:  $have;
      }
    }
    &:nth-child(2) {
      &:before {
        content: '';
        background: $double;
      }
    }
    &:nth-child(3) {
      &:before {
        content: '';
        background: $missing;
      }
    }
    &:nth-child(4) {
      &:before {
        content: '';
        background: $bad;
      }
    }
    &:nth-child(5) p{
      width: 100%;
      text-align: center;
    }
  }
  p {
    padding: 5px 10px;
  }
}