@import "../../style/constants";

.list-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .my-sets {
    width: auto;
    max-width: 800px;
    margin: 0 auto;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1400px) {
  .list-page .my-sets {
    max-width: calc(100% - 500px);
  }
}

@media screen and (max-width: 1000px) {
  .list-page .my-sets {
    max-width: calc(100% - 150px);
    margin-right: 20px;
  }
}


@media screen and (max-width:500px) {
  .list-page .my-sets {
    max-width: calc(100% - 10px);
    margin: 0 auto;
  }
}