@import "../../style/constants";

.cl-content {
  margin-top: 60px;
  width: 100%;
  overflow: auto;
  flex: 1;
}

.list-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .my-sets {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1400px) {
  .list-page .my-sets {
    max-width: calc(100% - 500px);
  }
}

@media screen and (max-width: 1000px) {
  .list-page .my-sets {
    max-width: calc(100% - 190px);
    margin-right: 20px;
  }
}


@media screen and (max-width:500px) {
  .list-page .my-sets {
    max-width: calc(100% - 10px);
    margin: 0 auto;
  }
}