/* Colors */
$white: rgb(255,255,255); /* #FFFFFF */
$black: rgb(0,0,0); /* #000000 */
$background: #18191A;
$border: #464646;
$content: #242526;
$text: #cccccc;


$missing: #D15553;
$have: #DADADA;
$bad: #7B7B7B;
$double: #75D153;


/* Content constants */
$laptop-width: 1439px;
$tablet-width: 1023px;
$tablet-portrait: 767px;
$mobile-landscape: 638px;
$mobile-width: 374px;
$mobile-height-landscape: 420px;



/* Other constants */
$inputPadding: 30px 15px 30px 45px;
$inputPaddingWithValue: 46px 15px 15px;
$boxShadow: 0 2px 7px 0 rgba(0, 0, 0, 0.13);
$inputHeight: 60px;


@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}
