/* Colors */
$white: rgb(255,255,255); /* #FFFFFF */
$black: rgb(0,0,0); /* #000000 */
$background: #18191A;
$border: #464646;
$content: #242526;
$text: #cccccc;
$modalHeader: #94d8de;


$missing: #D15553;
$have: #DADADA;
$bad: #7B7B7B;
$double: #75D153;
$blue: #0000ff;


$color-1st: #ffea92;
$color-2nd: #464646;


$menu-width-desktop: 220px;
$menu-width-tablet: 150px;
$menu-width-smartphone: 200px;