@import "../../style/constants";

.cl-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px 20px;
  background-color: #18191A;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: auto;
  gap: 15px;
  
  .footer-links {
    display: flex;
    gap: 20px;
  }
  
  a {
    color: $border;
    text-decoration: none;
    &:hover  {
      color: $text;
    }
  }
  p {
    color: $border;
    margin: 0;
  }
}



@media screen and (max-width: 1000px) {
  .cl-footer {
    flex-direction: column;
}
}
