@import "../../style/constants";

.list-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .my-sets {
    width: 50%;
    & > div {
      overflow: auto;
      height: calc(100vh - 80px);
    }
  }
  .page-info {

    width: 20%;
  }
}
