@import "../../style/constants";

.right-menu {
  width: 220px;
  position: fixed;
  top: 0;
  right: 10px;
  z-index: 5;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 60px;
  box-sizing: border-box;
  z-index: 999;
}



.set-info {
  display: flex;
  flex-direction: column;

  div {
    border: 1px solid #999;
    margin-bottom: -1px;
    display: flex;

    &:before {
      width: 30px;
      float: left;
    }

    &:first-child {
      &:before {
        content: '';
        background: $have;
      }
    }

    &:nth-child(2) {
      &:before {
        content: '';
        background: $double;
      }
    }

    &:nth-child(3) {
      &:before {
        content: '';
        background: $missing;
      }
    }

    &:nth-child(4) {
      &:before {
        content: '';
        background: $bad;
      }
    }

    &:nth-child(5) p {
      width: 100%;
      text-align: center;
    }
  }

  p {
    padding: 5px 10px;
  }
}
.suggestion {
  font-size: 13px;
  a {
    color: #fff;
    &:hover {
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 1000px) {

  .set-info {
    font-size: 12px;
  }
  .right-menu {
    background: $color-2nd;
    width: $menu-width-smartphone;
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
    transform: translate3d($menu-width-smartphone, 0, 0);
    transition: all 0.3s ease-in-out;

    .smartphone-menu-trigger {
      position: absolute;
      background: $color-2nd;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 6px; // space between lines
      cursor: pointer;
      width: 40px;
      height: 40px;
      right: 100%;
      background: $color-2nd;
      top: 70px;

      span {
        display: block;
        width: 24px;
        height: 2px;
        background: #fff;
        border-radius: 2px;
      }
    }

    &:focus {
      transform: translate3d(0, 0, 0);
      box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);

      .smartphone-menu-trigger {
        pointer-events: none;
      }
    }
  }
}
