@import "../../style/constants";

.set-wrapper.available-sets {
  margin: 0 auto;
  padding: 10px;
  max-height: 500px;
  overflow: auto;
}

.add-set {
  background-color: #242526;
  padding: 10px 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  &:hover {
    background-color: $border;
  }

  .icon-add {
    cursor: pointer;
    transition: all ease .5s;

    &:hover {
      color: $double;
    }
  }
}

.add-set-title {
  color: #cccccc;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 1000px) and (max-width: 400px) {
  .add-set {
    padding: 10px;
  }
}